<html>
<head>
  <title>Hair Salon Client and Stylist List</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
  <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="container">
    <h1>{{ stylists.getName }}</h1>

      {% if clients is not empty %}
        <p>Here are all your clients:</p>
          <ul>
            {% for client in clients %}
              <li>{{ client.getName }}</li>
              <li>{{ client.getPhone }}</li>
              <li>{{ client.getEmail }}</li>
            {% endfor %}
          </ul>
      {% endif %}

      <h4>Add a Client</h4>

      <form action="/clients" method="post">
        <p>
          <input id="stylist_id" name="stylist_id" type="hidden" value="{{ stylists.getId() }}">
          <label for="name">Client Name:</label>
          <input id="name" name="name" type="text">
        </p>
        <p>
          <label for="phone">Client Phone:</label>
          <input id="phone" name="phone" type="text">
        </p>
        <p>
          <label for="email">Client Email Address:</label>
          <input id="email" name="email" type="text">
        </p>

        <button type="submit" class="btn btn-info">Add Client</button>
      </form>
      <p><a href="/stylists/{{ stylists.getId }}/edit">Rename/Delete</a></p>
      <p><a href="/">Home</a></p>
  </div>
</body>
</html>
